html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #0e1216;
  color: #e5e7eb;
  font-family: "Space Grotesk", sans-serif;
}

#game {
  display: block;
  width: 100vw;
  height: 100vh;
}
